@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 10% 10%;
  --foreground: 0 0% 98%;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #18181b; */
  /* background-color: #171923; */
  background-color: #131127;
  color: #d4d4d8;
  font-feature-settings: "rlig" 1, "calt" 1;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50%));
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}